In [1]:
import pandas as pd

In [3]:
#DataFrame : Create DataFrame from dictionary
dic = {'A':1,'B':2,'C':3,'D':4,'E':5}
# if all values are only scalar we need to use index
a = pd.DataFrame(dic,index = ['0'])
a

   A  B  C  D  E
0  1  2  3  4  5

In [4]:
a.index # These are the index of the dataframe
#Index are referred as row labels

Index(['0'], dtype='object')

In [5]:
a.columns # gives column of dataframes

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [6]:
#index and column are not part of data contents , hence are not considered in dimensio
#shape gives the dimension
a.shape

(1, 5)

In [7]:
pd.DataFrame([[1,23,4],[3,4,5]])
#By default if column names are not specified we can get dataframe as below

   0   1  2
0  1  23  4
1  3   4  5

In [7]:
#You can load dataframe using csv
data = pd.read_csv('iris.csv')

In [8]:
data.head() # head gives first 5 rows be default

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [9]:
data = pd.read_csv('iris.csv',index_col=0) # index_col = 0 makes the first column as row_index

In [10]:
data.head()

              sepal_width  petal_length  petal_width species
sepal_length
5.1                   3.5           1.4          0.2  setosa
4.9                   3.0           1.4          0.2  setosa
4.7                   3.2           1.3          0.2  setosa
4.6                   3.1           1.5          0.2  setosa
5.0                   3.6           1.4          0.2  setosa

In [11]:

data.reset_index(inplace=True)  # reset_index will reset the index, inplace = True will make changes to data
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [12]:
#Indexing and Selecting Data
#Square brackets type
data['sepal_length'].head()

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: sepal_length, dtype: float64

In [13]:
type(data['sepal_length'])

pandas.core.series.Series

In [14]:
#When we use single square bracket , Pandas Series is the return type

In [15]:
#We can use [[]] in which case the return type is DataFrame
data[['sepal_length']].head()

   sepal_length
0           5.1
1           4.9
2           4.7
3           4.6
4           5.0

In [16]:
type(data[['sepal_length']])

pandas.core.frame.DataFrame

In [17]:
#Multilpe columns
data[["sepal_length","petal_length"]].head()

   sepal_length  petal_length
0           5.1           1.4
1           4.9           1.4
2           4.7           1.3
3           4.6           1.5
4           5.0           1.4

In [18]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [19]:
#We can access row by index(row_labels)
#data[row_label_start:row_label_end]
data[0:1] # row label idexing returns dataframes

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa

In [20]:
#To access both row and column we have two methods 
# loc : label based
# iloc : index based

In [21]:
#loc
data1 = data.head()
data1

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [22]:
data1.loc[[0],['sepal_length']] # get the row and colum

   sepal_length
0           5.1

In [23]:
#data.iloc using index
data.iloc[[0],[1]]

   sepal_width
0          3.5

In [26]:
data.iloc[0:1,1:4]

   sepal_width  petal_length  petal_width
0          3.5           1.4          0.2