# How do I sort pandas Dataframe or Series

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('iris.csv')
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
#Sorting Series
data['sepal_width'].sort_values(ascending = True).head()

60     2.0
62     2.2
119    2.2
68     2.2
41     2.3
Name: sepal_width, dtype: float64

In [6]:
#To sort in descending order make ascending as False
data['sepal_width'].sort_values(ascending = False).head()

15    4.4
33    4.2
32    4.1
14    4.0
16    3.9
Name: sepal_width, dtype: float64

In [7]:
#Sorting DataFrame
data.sort_values(['sepal_width'],ascending = True).head()

     sepal_length  sepal_width  petal_length  petal_width     species
60            5.0          2.0           3.5          1.0  versicolor
62            6.0          2.2           4.0          1.0  versicolor
119           6.0          2.2           5.0          1.5   virginica
68            6.2          2.2           4.5          1.5  versicolor
41            4.5          2.3           1.3          0.3      setosa

In [9]:
#We can sort dataframe by multiple columns
data.sort_values(['species','petal_length'],ascending = [True,False]).head()

    sepal_length  sepal_width  petal_length  petal_width species
24           4.8          3.4           1.9          0.2  setosa
44           5.1          3.8           1.9          0.4  setosa
5            5.4          3.9           1.7          0.4  setosa
18           5.7          3.8           1.7          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa