# Pandas Duplicates

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('iris.csv')
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
data.shape

(150, 5)

In [4]:
#let us check duplicates in sepal_width
data.sepal_width.duplicated(keep='first').sum() 
#By default keep is first It means first value is not treated duplicated, value after the first value are treated duplicated
#Among 150 , 127 of them are duplicated

127

In [5]:
data.sepal_width.duplicated(keep=False).sum() 
#All the values are treated duplicates

145

In [6]:
#We can check duplicates for whole dataframe
data.duplicated().sum()

3

In [7]:
data.loc[data.duplicated(),:]

     sepal_length  sepal_width  petal_length  petal_width    species
34            4.9          3.1           1.5          0.1     setosa
37            4.9          3.1           1.5          0.1     setosa
142           5.8          2.7           5.1          1.9  virginica

In [8]:
data.loc[data.duplicated(keep=False),:]

     sepal_length  sepal_width  petal_length  petal_width    species
9             4.9          3.1           1.5          0.1     setosa
34            4.9          3.1           1.5          0.1     setosa
37            4.9          3.1           1.5          0.1     setosa
101           5.8          2.7           5.1          1.9  virginica
142           5.8          2.7           5.1          1.9  virginica

In [9]:
data.shape

(150, 5)

In [10]:
#droping duplicates
data.drop_duplicates().shape

(147, 5)

In [11]:
data.drop_duplicates(keep = False).shape

(145, 5)

In [12]:
#dropping subset of columns
data.drop_duplicates(subset=['sepal_length','sepal_width']).shape

(116, 5)

In [13]:
#check for duplicates for subset of columns
data.duplicated(subset=['sepal_length','sepal_width']).sum()

34