# How do I rename column names in Pandas

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('iris.csv')

In [3]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
#data.columns is use to get all the columns
data.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [5]:
data.rename(columns = {'sepal_length':'sepal length'},inplace=True)
#Using rename method we can change column name
# In the dictionary key is old column name and value is new column name

In [6]:
data.columns

Index(['sepal length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

# Remove pandas columns

In [7]:
data.head()

   sepal length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [8]:
data.drop(['petal_length'],axis =1,inplace = True)
data.head()

   sepal length  sepal_width  petal_width species
0           5.1          3.5          0.2  setosa
1           4.9          3.0          0.2  setosa
2           4.7          3.2          0.2  setosa
3           4.6          3.1          0.2  setosa
4           5.0          3.6          0.2  setosa

In [9]:
#Remove non-numerical columns

In [10]:
data = pd.read_csv('iris.csv')
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [13]:
data.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [14]:
import numpy as np
data.select_dtypes(include=[np.number]).dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
dtype: object