
# Pandas GroupBy

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('iris.csv')
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
#Get Mean sepal_length across different species
data.groupby('species').sepal_length.mean()

species
setosa        5.006
versicolor    5.936
virginica     6.588
Name: sepal_length, dtype: float64

In [4]:
data.groupby('species').sepal_length.agg(['max','min','mean','count'])

            max  min   mean  count
species
setosa      5.8  4.3  5.006     50
versicolor  7.0  4.9  5.936     50
virginica   7.9  4.9  6.588     50

In [6]:
data = pd.read_csv('https://raw.githubusercontent.com/shailendrapatil92/Data-Visualization/master/annually_races_over_18.csv')
data.head()

,series_id,year,period,value,footnote_codes,date,series_title
0,LNU04049604,2008,M13,7.3,NaN,2008-12-31,"(Unadj) Unemployment Rate - Nonveterans, 18 ye..."
1,LNU04049604,2010,M13,12.3,NaN,2010-12-31,"(Unadj) Unemployment Rate - Nonveterans, 18 ye..."
2,LNU04049604,2011,M13,11.2,NaN,2011-12-31,"(Unadj) Unemployment Rate - Nonveterans, 18 ye..."
3,LNU04049604,2012,M13,10.0,NaN,2012-12-31,"(Unadj) Unemployment Rate - Nonveterans, 18 ye..."
4,LNU04049604,2013,M13,8.8,NaN,2013-12-31,"(Unadj) Unemployment Rate - Nonveterans, 18 ye..."

In [7]:
data.groupby(['year','series_title']).value.mean()

year  series_title
2006  (Unadj) Unemployment Rate - Nonveterans, 18 years and over, Asian                         2.9
      (Unadj) Unemployment Rate - Nonveterans, 18 years and over, Black or African American     8.7
      (Unadj) Unemployment Rate - Nonveterans, 18 years and over, Hispanic or Latino            5.0
      (Unadj) Unemployment Rate - Nonveterans, 18 years and over, White                         3.9
2007  (Unadj) Unemployment Rate - Nonveterans, 18 years and over, Asian                         3.1
      (Unadj) Unemployment Rate - Nonveterans, 18 years and over, Black or African American     8.0
      (Unadj) Unemployment Rate - Nonveterans, 18 years and over, Hispanic or Latino            5.4
      (Unadj) Unemployment Rate - Nonveterans, 18 years and over, White                         3.9
2008  (Unadj) Unemployment Rate - Nonveterans, 18 years and over, Asian                         3.9
      (Unadj) Unemployment Rate - Nonveterans, 18 years and over, Black or African American     9.9
      (Unadj) Unemployment Rate - Nonveterans, 18 years and over, Hispanic or Latino            7.3
      (Unadj) Unemployment Rate - Nonveterans, 18 years and over, White                         5.0
2009  (Unadj) Unemployment Rate - Nonveterans, 18 years and over, Asian                         7.2
      (Unadj) Unemployment Rate - Nonveterans, 18 years and over, Black or African American    14.7
      (Unadj) Unemployment Rate - Nonveterans, 18 years and over, Hispanic or Latino           11.9
      (Unadj) Unemployment Rate - Nonveterans, 18 years and over, White                         8.3
2010  (Unadj) Unemployment Rate - Nonveterans, 18 years and over, Asian                         7.4
      (Unadj) Unemployment Rate - Nonveterans, 18 years and over, Black or African American    15.8
      (Unadj) Unemployment Rate - Nonveterans, 18 years and over, Hispanic or Latino           12.3
      (Unadj) Unemployment Rate - Nonveterans, 18 years and over, White                         8.5
2011  (Unadj) Unemployment Rate - Nonveterans, 18 years and over, Asian                         7.0
      (Unadj) Unemployment Rate - Nonveterans, 18 years and over, Black or African American    15.8
      (Unadj) Unemployment Rate - Nonveterans, 18 years and over, Hispanic or Latino           11.2
      (Unadj) Unemployment Rate - Nonveterans, 18 years and over, White                         7.7
2012  (Unadj) Unemployment Rate - Nonveterans, 18 years and over, Asian                         5.8
      (Unadj) Unemployment Rate - Nonveterans, 18 years and over, Black or African American    13.7
      (Unadj) Unemployment Rate - Nonveterans, 18 years and over, Hispanic or Latino           10.0
      (Unadj) Unemployment Rate - Nonveterans, 18 years and over, White                         7.0
2013  (Unadj) Unemployment Rate - Nonveterans, 18 years and over, Asian                         5.1
      (Unadj) Unemployment Rate - Nonveterans, 18 years and over, Black or African American    13.0
      (Unadj) Unemployment Rate - Nonveterans, 18 years and over, Hispanic or Latino            8.8
      (Unadj) Unemployment Rate - Nonveterans, 18 years and over, White                         6.3
2014  (Unadj) Unemployment Rate - Nonveterans, 18 years and over, Asian                         4.9
      (Unadj) Unemployment Rate - Nonveterans, 18 years and over, Black or African American    11.3
      (Unadj) Unemployment Rate - Nonveterans, 18 years and over, Hispanic or Latino            7.2
      (Unadj) Unemployment Rate - Nonveterans, 18 years and over, White                         5.1
2015  (Unadj) Unemployment Rate - Nonveterans, 18 years and over, Asian                         3.8
      (Unadj) Unemployment Rate - Nonveterans, 18 years and over, Black or African American     9.4
      (Unadj) Unemployment Rate - Nonveterans, 18 years and over, Hispanic or Latino            6.4
      (Unadj) Unemployment Rate - Nonveterans, 18 years and over, White                         4.5
2016  (Unadj) Unemployment Rate - Nonveterans, 18 years and over, Asian                         3.6
      (Unadj) Unemployment Rate - Nonveterans, 18 years and over, Black or African American     8.4
      (Unadj) Unemployment Rate - Nonveterans, 18 years and over, Hispanic or Latino            5.6
      (Unadj) Unemployment Rate - Nonveterans, 18 years and over, White                         4.1
Name: value, dtype: float64

In [ ]:
import numpy as np
data.groupby(['year','series_title']).value.agg(['max','min','mean','count',np.st])