# Pandas Index

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('iris.csv')

In [3]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
#sepal_length, sepal_width are column names
#The labels 0,1,2,3 are know as index or row labels

In [5]:
#While creating dataframe if no column name and index ar specified then we get default columns and rows
data = pd.read_csv('iris.csv',header=None)
data.head()

              0            1             2            3        4
0  sepal_length  sepal_width  petal_length  petal_width  species
1           5.1          3.5           1.4          0.2   setosa
2           4.9            3           1.4          0.2   setosa
3           4.7          3.2           1.3          0.2   setosa
4           4.6          3.1           1.5          0.2   setosa

In [6]:
data.index

RangeIndex(start=0, stop=151, step=1)

In [7]:
data = pd.DataFrame({'column_1':[1,2,3,4],'column_2':[2,3,4,1],'column_3':[1,2,10,15],'column_4':[10,2,25,1]},index = ['row_1','row_2','row_3','row_4'])

In [8]:
data

       column_1  column_2  column_3  column_4
row_1         1         2         1        10
row_2         2         3         2         2
row_3         3         4        10        25
row_4         4         1        15         1

In [9]:
#row_1,row_2,row_3, row_4 are index

In [10]:
#Change the index to column

#first give index the column name
data.index.name = 'row_index'
data.reset_index(inplace=True)

In [11]:
data
#Now we can see that row_index is column and we have default row indexes

  row_index  column_1  column_2  column_3  column_4
0     row_1         1         2         1        10
1     row_2         2         3         2         2
2     row_3         3         4        10        25
3     row_4         4         1        15         1

In [12]:
#When we take part of dataframe row_index still remain intact

In [13]:
data[data.column_1 >= 3]
#As seen when considering part of dataframe we still have the row index intact

  row_index  column_1  column_2  column_3  column_4
2     row_3         3         4        10        25
3     row_4         4         1        15         1

In [14]:
#We can use index to select required rows
data.loc[2:3,:]

  row_index  column_1  column_2  column_3  column_4
2     row_3         3         4        10        25
3     row_4         4         1        15         1