# How do I read Tabular Data in pandas

In [2]:
import pandas as pd

In [3]:
data = pd.read_table('title.ratings.tsv')

In [4]:
data.head()

      tconst  averageRating  numVotes
0  tt0000001            5.8      1435
1  tt0000002            6.3       170
2  tt0000003            6.6      1030
3  tt0000004            6.4       101
4  tt0000005            6.2      1728

In [5]:
data = pd.read_table('title.ratings.tsv',sep = '\t') #by default tab
data.head()

      tconst  averageRating  numVotes
0  tt0000001            5.8      1435
1  tt0000002            6.3       170
2  tt0000003            6.6      1030
3  tt0000004            6.4       101
4  tt0000005            6.2      1728

In [6]:
data = pd.read_csv('title.ratings.tsv')
data.head()
#By default comma separated so we can use \t

  tconst\taverageRating\tnumVotes
0            tt0000001\t5.8\t1435
1             tt0000002\t6.3\t170
2            tt0000003\t6.6\t1030
3             tt0000004\t6.4\t101
4            tt0000005\t6.2\t1728

In [7]:
data = pd.read_csv('title.ratings.tsv',sep = '\t')
data.head()

      tconst  averageRating  numVotes
0  tt0000001            5.8      1435
1  tt0000002            6.3       170
2  tt0000003            6.6      1030
3  tt0000004            6.4       101
4  tt0000005            6.2      1728